* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
}

body {
  font-family: "Roboto";
  margin: 0;
}

body svg {
  fill: #ef6c00;
  vertical-align: middle;
}

body a {
  text-decoration: none;
  color: black;
}

body ul {
  list-style: none;
  padding: 0;
}

body .main-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

body #scrollToTop {
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 2;
  width: 48px;
  height: 48px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
}

body {
  font-family: "Roboto";
  margin: 0;
}

body svg {
  fill: #ef6c00;
  vertical-align: middle;
}

body a {
  text-decoration: none;
  color: black;
}

body ul {
  list-style: none;
  padding: 0;
}

body .main-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

body #scrollToTop {
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 2;
  width: 48px;
  height: 48px;
}

body .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body .wraper .header {
  background-color: white;
}

body .wraper .header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

body .wraper .header .header-top .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wraper .header .header-top .info-container .info-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  color: #9b9b9b;
}

body .wraper .header .header-top .info-container .info-service .header-icon {
  margin-right: 10px;
}

body .wraper .header .header-top .info-container .info-service .info-text {
  font-size: 12px;
}

body .wraper .header .header-top .info-container .info-service .call-number {
  color: black;
  font-size: 20px;
  font-weight: 900;
  position: relative;
}

body .wraper .header .header-top .info-container .info-service .call-number:hover {
  text-decoration: underline;
}

body .wraper .header .header-top .info-container .info-service .call-number .call {
  color: #ef6c00;
  position: absolute;
  right: 0;
}

body .wraper .header #myHeader {
  background-color: #212529;
  z-index: 1000;
}

body .wraper .header #myHeader .header-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  color: white;
}

body .wraper .header #myHeader .header-bottom .name-site {
  font-size: 30px;
  font-weight: 800;
  color: #ef6c00;
  letter-spacing: 4px;
}

body .wraper .header #myHeader .header-bottom .header-nav {
  font-size: 16px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  width: 60%;
}

body .wraper .header #myHeader .header-bottom .header-nav .nav-site {
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

body .wraper .header #myHeader .header-bottom .header-nav .nav-site:hover {
  background-color: #ef6c00;
}

body .wraper .header #myHeader .header-bottom .header-nav .nav-site:hover .wrap-nav-block {
  display: block;
}

body .wraper .header #myHeader .header-bottom .header-nav .nav-site-link {
  padding: 15px 15px;
  color: white;
  display: block;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 900;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-top: 5px;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .nav-grids-link {
  color: #212529;
  margin-bottom: 10px;
  position: relative;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .nav-grids-link:hover {
  color: #ef6c00;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .nav-grids-link::after {
  background: #ef6c00;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .lists {
  padding: 0;
  margin-bottom: 15px;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .lists .nav-grids-list {
  margin: 0;
  line-height: 20px;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .lists .nav-grids-list .list-link {
  color: #9b9b9b;
  font-size: 14px;
}

body .wraper .header #myHeader .header-bottom .header-nav .wrap-nav-block .nav-block .nav-grids .lists .nav-grids-list .list-link:hover {
  color: #ef6c00;
}

body .wraper .header #myHeader .header-bottom .burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 40px;
  bottom: 5px;
  right: 15px;
  cursor: pointer;
}

body .wraper .header #myHeader .header-bottom .burger span {
  width: 100%;
  position: absolute;
  height: 4px;
  background: white;
  top: 27px;
  border-radius: 2px;
}

body .wraper .header #myHeader .header-bottom .burger span::before {
  content: "";
  top: -10px;
  width: 100%;
  position: absolute;
  height: 4px;
  background: white;
  border-radius: 2px;
}

body .wraper .header #myHeader .header-bottom .burger span::after {
  content: "";
  top: -20px;
  width: 100%;
  position: absolute;
  height: 4px;
  background: white;
  border-radius: 2px;
}

body .wraper .header #myHeader .header-bottom .burger .active {
  background: transparent;
}

body .wraper .header #myHeader .header-bottom .burger .active::before {
  content: "";
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .wraper .header #myHeader .header-bottom .burger .active::after {
  content: "";
  top: -8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .wraper .header #myHeader .header-bottom .float_fade_background {
  display: none;
}

body .wraper .header #myHeader .header-bottom .close-menu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
  z-index: 99;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

body .wraper .header #myHeader .header-bottom .burger-menu {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #212529;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .burger-list-link {
  color: white;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .burger-list-link:hover {
  background-color: #ef6c00;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .nav-list-submenu {
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #212529;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .nav-list-submenu .submenu .submenu-list .submenu-list-link {
  color: white;
  font-weight: 900;
  padding: 20px 30px;
  display: block;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .nav-list-submenu .submenu .submenu-list .submenu-list-link:hover {
  background-color: #ef6c00;
}

body .wraper .header #myHeader .header-bottom .burger-menu .burger-menu-nav .nav-list .submenu-visible {
  right: 0;
}

body .wraper .header #myHeader .header-bottom .burger-menu .contact-info {
  padding-left: 30px;
  margin: 10px 0;
}

body .wraper .header #myHeader .header-bottom .burger-menu .contact-info a {
  color: white;
  margin-left: 5px;
  font-size: 12px;
}

body .wraper .header #myHeader .header-bottom .burger-menu-show {
  right: 0;
}

body .wraper .top-title-block {
  min-height: 160px;
  background-color: grey;
  padding-bottom: 50px;
  padding-top: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .wraper .top-title-block .title-header {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

body .wraper .main-container .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

body .wraper .main-container .main-block .block-lists {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

body .wraper .main-container .main-block .block-lists .left-bar-menu {
  padding-top: 54px;
  padding-bottom: 54px;
  margin-left: -22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

body .wraper .main-container .main-block .block-lists .left-bar-menu .bar-menu-list {
  border-top: 1px solid #e7e7e7;
}

body .wraper .main-container .main-block .block-lists .left-bar-menu .bar-menu-list:nth-child(1) {
  border-top: 0;
}

body .wraper .main-container .main-block .block-lists .left-bar-menu .bar-menu-list .bar-menu-link {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
  padding: 13px 22px 9px;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transition: margin-left .2s ease-in-out, margin-right .2s ease-in-out;
  transition: margin-left .2s ease-in-out, margin-right .2s ease-in-out;
}

body .wraper .main-container .main-block .block-lists .left-bar-menu .bar-menu-list .bar-menu-link:hover {
  margin-left: -20px;
  background-color: #ef6c00;
  color: white;
}

body .wraper .main-container .main-block .block-items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

body .wraper .main-container .main-block .block-items .right-block {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin-top: -36px;
  margin-bottom: 80px;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

body .wraper .main-container .main-block .block-items .right-block .map {
  width: 100%;
  height: 500px;
}
/*# sourceMappingURL=contacts.css.map */