@import '_variables';
body {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .wraper {
        .header {
            background-color: white;
            .header-top {
                display: flex;
                justify-content: space-between;
                margin: 20px auto;
                .info-container {
                    display: flex;
                    justify-content: space-between;
                    .info-service {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 20px;
                        color: $header-info-color;
                        .header-icon {
                            margin-right: 10px;
                        }
                        .info-text {
                            font-size: 12px;
                        }
                        .call-number {
                            color: black;
                            font-size: 20px;
                            font-weight: 900;
                            position: relative;
                            &:hover {
                                text-decoration: underline;
                            }
                            .call {
                                color: $base-color;
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }
            }
            #myHeader {
                background-color: $header-icon-bgc;
                z-index: 1000;
                .header-bottom {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    color: white;
                    .name-site {
                        font-size: 30px;
                        font-weight: 800;
                        color: $base-color;
                        letter-spacing: 4px;
                    }
                    .header-nav {
                        font-size: 16px;
                        font-weight: 900;
                        display: flex;
                        justify-content: space-between;
                        margin: 0;
                        width: 60%;
                        .nav-site {
                            transition: background-color .2s ease-in-out;
                            &:hover {
                                background-color: $base-color;
                            }
                            &:hover .wrap-nav-block {
                                display: block;
                            }
                        }
                        .nav-site-link {
                            padding: 15px 15px;
                            color: white;
                            display: block;
                        }
                        .wrap-nav-block {
                            display: none;
                            position: absolute;
                            top: 100%;
                            z-index: 900;
                            width: 100%;
                            left: 0;
                            background-color: rgba(255, 255, 255, 0.85);
                            .nav-block {
                                display: grid;
                                grid-gap: 5px;
                                grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
                                margin-top: 5px;
                                .nav-grids {
                                    .nav-grids-link {
                                        color: $header-icon-bgc;
                                        margin-bottom: 10px;
                                        position: relative;
                                        &:hover {
                                            color: $base-color;
                                        }
                                        &::after {
                                            background: $base-color;
                                            content: "";
                                            display: block;
                                            height: 2px;
                                            position: absolute;
                                            width: 100%;
                                        }
                                    }
                                    .lists {
                                        padding: 0;
                                        margin-bottom: 15px;
                                        .nav-grids-list {
                                            margin: 0;
                                            line-height: 20px;
                                            .list-link {
                                                color: $header-info-color;
                                                font-size: 14px;
                                                &:hover {
                                                    color: $base-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .burger {
                        display: none;
                        position: absolute;
                        width: 30px;
                        height: 40px;
                        bottom: 5px;
                        right: 15px;
                        cursor: pointer;
                        span {
                            width: 100%;
                            position: absolute;
                            height: 4px;
                            background: white;
                            top: 27px;
                            border-radius: 2px;
                            &::before {
                                content: "";
                                top: -10px;
                                width: 100%;
                                position: absolute;
                                height: 4px;
                                background: white;
                                border-radius: 2px;
                            }
                            &::after {
                                content: "";
                                top: -20px;
                                width: 100%;
                                position: absolute;
                                height: 4px;
                                background: white;
                                border-radius: 2px;
                            }
                        }
                        .active {
                            background: transparent;
                            &::before {
                                content: "";
                                top: -8px;
                                transform: rotate(45deg);
                            }
                            &::after {
                                content: "";
                                top: -8px;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                    .float_fade_background {
                        display: none;
                    }
                    .close-menu {
                        display: block;
                        position: fixed;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background-color: #000;
                        opacity: .5;
                        z-index: 99;
                        transition: all 0.4s ease 0s;
                    }
                    .burger-menu {
                        position: fixed;
                        right: -100%;
                        top: 0;
                        bottom: 0;
                        width: 300px;
                        z-index: 100;
                        transition: all 0.4s ease 0s;
                        background-color: $header-icon-bgc;
                        overflow: auto;
                        display: flex;
                        flex-direction: column;
                        .burger-menu-nav {
                            .nav-list {
                                .burger-list-link {
                                    color: white;
                                    font-weight: 900;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 20px 30px;
                                    transition: background-color .2s ease-in-out;
                                    &:hover {
                                        background-color: $base-color;
                                    }
                                }
                                .nav-list-submenu {
                                    position: absolute;
                                    right: 100%;
                                    top: 0;
                                    width: 100%;
                                    transition: all 0.4s ease 0s;
                                    background-color: $header-icon-bgc;
                                    .submenu {
                                        .submenu-list {
                                            .submenu-list-link {
                                                color: white;
                                                font-weight: 900;
                                                padding: 20px 30px;
                                                display: block;
                                                transition: background-color .2s ease-in-out;
                                                &:hover {
                                                    background-color: $base-color;
                                                }
                                            }
                                        }
                                    }
                                }
                                .submenu-visible {
                                    right: 0;
                                }
                            }
                        }
                        .contact-info {
                            padding-left: 30px;
                            margin: 10px 0;
                            a {
                                color: white;
                                margin-left: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                    .burger-menu-show {
                        right: 0;
                    }
                }
            }
        }
    }
}