   @import '_variables';
   @import '_header';
   @import '_top-carousel';
   body {
       .sticky {
           position: fixed;
           top: 0;
           width: 100%;
       }
       .row {
           //margin: 0 -15px;
           display: flex;
           flex-wrap: wrap;
       }
       .main-container {
           max-width: 1170px;
           margin: auto;
           padding: 0 15px;
           width: 100%;
       }
       .main-header {
           color: #02090f;
           font-size: 28px;
           line-height: 32px;
           font-weight: bold;
           margin-bottom: 16px;
           display: inline-block;
           position: relative;
           &::after {
               content: '';
               width: 60px;
               height: 2px;
               background-color: $base-color;
               display: inline-block;
               margin-bottom: 12px;
               margin-top: 16px;
               vertical-align: bottom;
               margin-left: 18px;
           }
       }
       .main-column {
           flex: 0 0 25%;
           max-width: 25%;
           padding: 0 15px;
       }
       .wraper {
           background: repeating-linear-gradient(to bottom, #fff, #fff 2px, #f2f2f2 2px, #f2f2f2 4px);
           position: relative;
           z-index: 1;
           .wraper-icon-description {
               background-color: $header-icon-bgc;
               .icon-description {
                   display: flex;
                   justify-content: space-between;
                   .description-block {
                       display: flex;
                       color: white;
                       font-size: 12px;
                       line-height: 15px;
                       padding: 12px 0px;
                       .icon-block {
                           margin-right: 25px;
                       }
                   }
               }
           }
           .main-service {
               padding-top: 50px;
               .service-main-container {
                   padding: 44px 0 20px;
                   display: grid;
                   grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
                   grid-gap: 40px;
                   .column-service {
                       &:hover .service-main-image {
                           transform: scale(1.1);
                       }
                       &:hover .service-main-btn {
                           background-color: $base-color;
                       }
                       .service-main-link {
                           display: block;
                           max-width: 263px;
                           height: 375px;
                           position: relative;
                           margin: 0 auto 30px;
                           .wrap-service-main-image {
                               overflow: hidden;
                               position: relative;
                               display: block;
                               .service-main-image {
                                   position: relative;
                                   display: block;
                                   padding-top: 142%;
                                   transition: .2s ease-in-out;
                                   .main-image {
                                       position: absolute;
                                       object-fit: cover;
                                       object-position: center;
                                       height: 100%;
                                       margin: 0;
                                       padding: 0;
                                       width: 100%;
                                       display: block;
                                       top: 0;
                                   }
                               }
                           }
                           .main-service-shadow {
                               min-height: 250px;
                               padding-top: 140px;
                               bottom: 0px;
                               position: absolute;
                               left: 0px;
                               right: 0px;
                               background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 56%, rgba(0, 0, 0, 0.95) 100%);
                               .service-main-name {
                                   font-size: 18px;
                                   line-height: 22px;
                                   font-weight: bold;
                                   color: #fff;
                                   padding-left: 10px;
                                   padding-right: 10px;
                                   text-align: center;
                               }
                               .service-main-btn {
                                   margin: 28px auto;
                                   font-weight: bold;
                                   font-size: 12px;
                                   line-height: 12px;
                                   color: #fff;
                                   text-transform: uppercase;
                                   padding: 11px 28px;
                                   border: 2px solid $base-color;
                                   display: block;
                                   border-radius: 0px;
                                   max-width: 140px;
                                   transition: background-color .2s ease-in-out;
                               }
                           }
                       }
                   }
               }
           }
           .main-about {
               padding: 100px 0 70px;
               position: relative;
               .main-about-background {
                   background-position: center center;
                   background-size: auto 100%;
                   background-repeat: no-repeat;
                   position: absolute;
                   top: 0;
                   bottom: 0;
                   left: 0;
                   right: 0;
                   z-index: -10;
               }
               .main-container {
                   .main-header {
                       color: #fff;
                   }
                   .about-main-container {
                       padding-top: 44px;
                       margin: 0 -15px;
                       .main-column {
                           .about-main-link {
                               background-position: center;
                               background-repeat: no-repeat;
                               background-size: cover;
                               height: 220px;
                               width: 100%;
                               margin: 0 auto 30px;
                               display: block;
                               .about-main-shadowcontainer {
                                   height: 100%;
                                   width: 100%;
                                   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
                                   position: relative;
                                   &:hover .about-main-orange-container {
                                       height: 140px;
                                   }
                                   &:hover .about-main-number {
                                       color: white;
                                   }
                                   .about-main-number {
                                       font-size: 52px;
                                       line-height: 38px;
                                       font-weight: bold;
                                       color: rgba(255, 255, 255, 0.65);
                                       transition: color .2s ease-in-out;
                                       padding: 25px 0 7px 20px;
                                       display: block;
                                   }
                                   .about-main-orange-container {
                                       background-color: $base-color;
                                       padding: 13px 20px;
                                       overflow: hidden;
                                       height: 50px;
                                       transition: height .2s ease-in-out;
                                       position: absolute;
                                       left: 0px;
                                       right: 0px;
                                       bottom: 0px;
                                       .about-main-name {
                                           font-size: 16px;
                                           line-height: 18px;
                                           font-weight: bold;
                                           color: #fff;
                                       }
                                       .about-main-text {
                                           font-size: 12px;
                                           line-height: 16px;
                                           color: #fff;
                                           display: block;
                                           margin-top: 16px;
                                       }
                                   }
                               }
                           }
                       }
                       .main-column-02 {
                           flex: 0 0 50%;
                           max-width: 50%;
                       }
                       .main-column-04 {
                           flex: 0 0 33.333333%;
                           max-width: 33.333333%;
                       }
                       .main-column-06 {
                           flex: 0 0 41.666667%;
                           max-width: 41.666667%;
                       }
                   }
               }
           }
           .logo-carousel {
               padding-top: 130px;
               .main-container {
                   .wrap-owl-carousel {
                       padding: 44px 0 80px;
                       .owl-carousel {
                           .owl-images {
                               width: 60px;
                               height: 60px;
                               margin: auto;
                           }
                       }
                   }
               }
           }
           .main-banner {
               background-repeat: no-repeat;
               background-position: top left;
               background-size: auto 100%;
               padding: 220px 0 70px;
               .main-container {
                   .row {
                       .main-column-02 {
                           .main-banner-head {
                               font-size: 38px;
                               line-height: 42px;
                               color: #fff;
                               font-weight: bold;
                               margin-bottom: 10px;
                           }
                           .main-banner-text {
                               color: #fff;
                               font-size: 16px;
                               line-height: 24px;
                               margin-bottom: 25px;
                           }
                           flex: 0 0 50%;
                           max-width: 50%;
                       }
                       .main_banner_content {
                           min-height: 258px;
                       }
                       .main-banner-tell {
                           .tell-number {
                               color: $base-color;
                               font-size: 20px;
                               font-weight: 900;
                           }
                       }
                   }
               }
           }
       }
       .main-map {
           position: sticky;
           bottom: 0;
           left: 0;
           width: 100%;
           display: grid;
           grid-template-columns: 20% 20% 20% 20% 20%;
           grid-template-rows: 125px 125px 125px 125px;
           grid-template-areas: 'title title aside aside aside' 'nav main aside aside aside' 'nav main aside aside aside' 'footer footer footer footer footer';
           .map {
               width: 100%;
               height: 500px;
               grid-column: nav-start / aside-end;
               grid-row: title-start / footer-end;
           }
           .map-container {
               grid-column: nav-start / nav-end;
               grid-row: nav-start / nav-end;
               z-index: 3;
               margin-left: 50px;
               width: 400px;
               background-color: rgba(255, 255, 255, 0.849);
               .contact {
                   padding-left: 30px;
               }
               .map-contacts {
                   color: $header-icon-bgc;
                   padding: 0 0 20px 50px;
                   font-weight: 900;
                   display: flex;
                   flex-direction: column;
                   justify-content: space-between;
                   position: relative;
                   height: calc(100% - 60px);
               }
               .contact-info {
                   margin: 0;
                   span {
                       margin-right: 10px;
                   }
               }
           }
       }
       #scrollToTop {
           position: fixed;
           bottom: 20px;
           right: 20px;
           cursor: pointer;
           opacity: 0;
           transition: all 0.5s ease-in;
           z-index: 2;
           width: 48px;
           height: 48px;
       }
   }